name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  shared_ci_cd:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    uses: mu88/common/.github/workflows/ci-cd.yml@1a447cd7b15322642acee52cf1e0ddeb2987414a
    with:
      sonar-key: 'mu88_mu88.Shared'
      sonar-additional-params: '/d:sonar.cs.opencover.reportsPaths=tests/Tests/coverage.opencover.xml /s:$GITHUB_WORKSPACE/SonarQube.Analysis.xml'
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  ci_cd:
    runs-on: ubuntu-latest

    needs: shared_ci_cd

    permissions:
      id-token: write  # enable GitHub OIDC token issuance for this job

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          global-json-file: global.json

      - name: Pack .NET project and create NuGet package
        run: dotnet pack src/mu88.Shared/mu88.Shared.csproj /p:Version=${{ needs.shared_ci_cd.outputs.version }}

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish NuGet package
        run: |
          dotnet nuget push src/mu88.Shared/bin/Release/mu88.Shared.*.nupkg \
          --api-key ${{steps.login.outputs.NUGET_API_KEY}} \
          --source https://api.nuget.org/v3/index.json
